[Unit]
Description=Octopus Storage Server ZIP download web helper
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/octopus-stor-web.py
Restart=always
RestartSec=2
User=octopus
Group=octopus
Umask=0002

[Install]
WantedBy=multi-user.target
